Repository titancamp/travely: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-fileservicemanager.yml, azure-pipelines-identitymanager.webapi.yml, azure-pipelines-servicemanager.service.yml, azure-pipelines.yml

azure-pipelines-fileservicemanager.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/fileservicemanager
      command: buildAndPush
      Dockerfile: src/FileServiceManager/Dockerfile
      tags: '$(Build.BuildId)
  
        latest'

azure-pipelines-identitymanager.webapi.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/identitymanager
      command: buildAndPush
      Dockerfile: src/IdentityManager/WebApi/Dockerfile
      buildContext: .
      tags: '$(Build.BuildId)
  
        latest'

azure-pipelines-servicemanager.service.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/servicemanager
      command: buildAndPush
      Dockerfile: src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
      tags: '$(Build.BuildId)
  
        latest'

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/propertymanager
      command: buildAndPush
      Dockerfile: src/PropertyManager/Dockerfile
      buildContext: .
      tags: '$(Build.BuildId)
  
        latest'

Some ficx related with build
  src/IdentityManager/Directory.Build.props
  src/IdentityManager/WebApi/Dockerfile
  src/IdentityManager/WebApi/appsettings.Development.json
Due: azure-pipelines-identitymanager.webapi.yml

Fixed IdentityDocker file
  src/IdentityManager/WebApi/Dockerfile
Due: azure-pipelines-identitymanager.webapi.yml

Some fixes
  src/IdentityManager/Service/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/WebApi/Startup.cs
  src/TourManager/TourManager.Api/Startup.cs
Due: azure-pipelines-identitymanager.webapi.yml

Fix some bugs
  src/Shared/IdentityClient/Config/ConfigServicesIdentityService.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Clients.Implementation/GrpcClientBase.cs
Due: none

Fixed some services and created run script
  docker-compose.yml
  proto/activity.proto
  run_in_docker.sh
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
  src/TourManager/TourManager.Clients.Abstraction/ServiceManager/IServiceManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/ServiceManager/ServiceManagerClient.cs
Due: azure-pipelines-identitymanager.webapi.yml

some fixes on service manager
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/ActivityProfile.cs
  src/TourManager/TourManager.Clients.Implementation/ServiceManager/ServiceManagerClient.cs
Due: none

Some fixes
  src/Commons/Travely.Services.Common/Middlewares/WebApiExceptionHandlingMiddleware.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Clients.Implementation/Mappers/ActivityProfile.cs
  src/TourManager/TourManager.Common/Clients/Activity.cs
Due: none

added room types in property manager
  proto/properties.proto
  src/IdentityManager/WebApi/appsettings.json
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.API/Services/PropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/Configurations/PropertyConfiguration.cs
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/Configurations/RoomTypeConfiguration.cs
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/PropertyDbContext.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210422160916_AddedRoomTypes.Designer.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210422160916_AddedRoomTypes.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/RoomType.cs
  src/TourManager/TourManager.Api/Controllers/PropertiesController.cs
  src/TourManager/TourManager.Clients.Abstraction/PropertyManager/IPropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/PropertyClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Service.Abstraction/IPropertyService.cs
  src/TourManager/TourManager.Service.Implementation/PropertyService.cs
  src/TourManager/TourManager.Service.Model/PropertyManager/RoomTypeResponseModel.cs
Due: azure-pipelines-identitymanager.webapi.yml, azure-pipelines.yml

added missing changes
  src/PropertyManager/Travely.PropertyManager.Service/Contracts/IPropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Service/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Responses/RoomTypeResponse.cs
  src/PropertyManager/Travely.PropertyManager.Service/Services/PropertyService.cs
Due: azure-pipelines.yml

Fix add activity call
  proto/activity.proto
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityTypeRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/Repository.cs
  src/ServiceManager/Travely.ServiceManager.Service/Mappers/ActivityProfile.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/Mocks.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Clients.Implementation/Mappers/ActivityProfile.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/Mapping.cs
  src/TourManager/TourManager.Common/Clients/Activity.cs
Due: azure-pipelines-servicemanager.service.yml

run-in-docker permissions
  run_in_docker.sh
Due: none

minor change
  src/TourManager/TourManager.Service.Implementation/TourService.cs
Due: none

Fixed some of issues with users API
  IdentityManager.sln
  src/IdentityManager/Service.Abstractions/IAuthenticationService.cs
  src/IdentityManager/Service.Abstractions/Models/Request/UserRequestModel.cs
  src/IdentityManager/Service/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/Service/IdentityServices/ProfileService.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/Service/Services/IdentityException.cs
  src/IdentityManager/WebApi/Controllers/AgencyController.cs
  src/IdentityManager/WebApi/Controllers/UsersController.cs
  src/IdentityManager/WebApi/Mappers/UserProfile.cs
  src/IdentityManager/WebApi/Properties/launchSettings.json
  src/IdentityManager/WebApi/Startup.cs
  src/IdentityManager/WebApi/appsettings.json
Due: azure-pipelines-identitymanager.webapi.yml

fix users controller
  src/IdentityManager/Service.Abstractions/IAuthenticationService.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/WebApi/Controllers/UsersController.cs
Due: azure-pipelines-identitymanager.webapi.yml

Fixed creating user changed owner
  src/IdentityManager/Directory.Build.props
  src/IdentityManager/Packages.props
  src/IdentityManager/Repository.Abstractions/Entities/ApiResource.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiResourceClaim.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiResourceProperty.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiResourceScope.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiResourceSecret.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiScope.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiScopeClaim.cs
  src/IdentityManager/Repository.Abstractions/Entities/ApiScopeProperty.cs
  src/IdentityManager/Repository.Abstractions/Entities/Client.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientClaim.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientCorsOrigin.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientGrantType.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientIdPrestriction.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientPostLogoutRedirectUri.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientProperty.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientRedirectUri.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientScope.cs
  src/IdentityManager/Repository.Abstractions/Entities/ClientSecret.cs
  src/IdentityManager/Repository.Abstractions/Entities/IdentityResource.cs
  src/IdentityManager/Repository.Abstractions/Entities/IdentityResourceClaim.cs
  src/IdentityManager/Repository.Abstractions/Entities/IdentityResourceProperty.cs
  src/IdentityManager/Repository.EntityFramework/IdentityServerDbContext.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210426151603_ForeignKeys.Designer.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210426151603_ForeignKeys.cs
  src/IdentityManager/Service.Abstractions/IdentityManager.Service.Abstractions.csproj
  src/IdentityManager/Service/Configs/AuthConfigs.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/IdentityManager.WebApi.csproj
Due: azure-pipelines-identitymanager.webapi.yml

fixes on tour creation
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/Utils/TimeSpanConverter.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/ClientEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TourEntity.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210426205257_ChangedTourTimeColumns.Designer.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210426205257_ChangedTourTimeColumns.cs
  src/TourManager/TourManager.Service.Implementation/ClientService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
  src/TourManager/TourManager.Service.Model/Booking.cs
  src/TourManager/TourManager.Service.Model/Client.cs
  src/TourManager/TourManager.Service.Model/Tour.cs
Due: none

Fix
  src/IdentityManager/Service.Abstractions/IAuthenticationService.cs
  src/IdentityManager/Service.Abstractions/Models/Request/UserRequestModel.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/WebApi/Controllers/UsersController.cs
  src/IdentityManager/WebApi/Mappers/UserProfile.cs
Due: azure-pipelines-identitymanager.webapi.yml

Fix
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
Due: none

fix CORS config
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
Due: none

Changed user agency
  src/IdentityManager/Service/Services/AuthenticationService.cs
Due: azure-pipelines-identitymanager.webapi.yml

Update AuthenticationService.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
Due: azure-pipelines-identitymanager.webapi.yml

fixes on clients creation
  src/TourManager/TourManager.Clients.Implementation/Mappers/ClientManagerClientProfile.cs
  src/TourManager/TourManager.Service.Model/Client.cs
Due: none

Fixed migration
  src/TourManager/TourManager.Api/Startup.cs
Due: none

Fixed edit user.
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/WebApi/Controllers/UsersController.cs
Due: azure-pipelines-identitymanager.webapi.yml

Fixed edit user. (#239)
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/WebApi/Controllers/UsersController.cs
Due: azure-pipelines-identitymanager.webapi.yml

added property and service information into tour booking
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Common/Types/BookingType.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/ITourRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingPropertyEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingServiceEntity.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210427173857_AddedBookingPropertiesAndServices.Designer.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210427173857_AddedBookingPropertiesAndServices.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BookingRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/BookingConfiguration.cs
  src/TourManager/TourManager.Service.Abstraction/ITourService.cs
  src/TourManager/TourManager.Service.Implementation/ClientService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
  src/TourManager/TourManager.Service.Model/Booking.cs
  src/TourManager/TourManager.Service.Model/TourManager/BookingProperty.cs
  src/TourManager/TourManager.Service.Model/TourManager/BookingService.cs
Due: none

some fixes
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingServiceEntity.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210427184750_RemovedBookingName.Designer.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210427184750_RemovedBookingName.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
  src/TourManager/TourManager.Service.Model/Booking.cs
  src/TourManager/TourManager.Service.Model/Tour.cs
  src/TourManager/TourManager.Service.Model/TourManager/BookingService.cs
Due: none

added service booking time
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingServiceEntity.cs
  src/TourManager/TourManager.Service.Model/TourManager/BookingService.cs
Due: none

Docker compose new ports
  docker-compose.override.yml
  docker-compose.yml
Due: none

Enable file service loging
  src/FileServiceManager/FileService/Program.cs
Due: azure-pipelines-fileservicemanager.yml

Fixed fileservice
  src/FileServiceManager/FileService/DAL/Storages/FileSystemStorage/FileSystemStorage.cs
  src/FileServiceManager/FileService/FileSystemConfig.json
  src/FileServiceManager/FileService/appsettings.json
Due: azure-pipelines-fileservicemanager.yml

fixes on get tour request
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Service.Implementation/BookingService.cs
Due: none

Agency edit fixed Added unique constraint on username
  src/IdentityManager/Repository.EntityFramework/IdentityServerDbContext.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210428142404_UsernameUniqueIndex.Designer.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210428142404_UsernameUniqueIndex.cs
  src/IdentityManager/Service.Abstractions/IAuthenticationService.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Controllers/AgencyController.cs
  src/IdentityManager/WebApi/Controllers/UsersController.cs
Due: azure-pipelines-identitymanager.webapi.yml

fixes on tour get logic
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BookingRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
  src/TourManager/TourManager.Service.Model/Booking.cs
Due: none

Fixed fileservice
  src/FileServiceManager/FileService/DAL/Storages/FileSystemStorage/FileSystemStorage.cs
Due: azure-pipelines-fileservicemanager.yml

Made agency fields not required.
  src/IdentityManager/Service.Abstractions/Models/Request/UpdateAgencyRequestModel.cs
Due: azure-pipelines-identitymanager.webapi.yml

Fixed build issue.
  src/SchedulerManager/Travely.SchedulerManager.API/Dockerfile
  src/SchedulerManager/Travely.SchedulerManager.API/Travely.SchedulerManager.API.csproj
Due: none

Path conditions:
  azure-pipelines-fileservicemanager.yml: any of: src/FileServiceManager
  azure-pipelines-identitymanager.webapi.yml: any of: src/IdentityManager
  azure-pipelines-servicemanager.service.yml: any of: src/ServiceManager
  azure-pipelines.yml: any of: src/PropertyManager
