Repository titancamp/travely: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-fileservicemanager.yml, azure-pipelines-identitymanager.webapi.yml, azure-pipelines-servicemanager.service.yml, azure-pipelines.yml

azure-pipelines-fileservicemanager.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/fileservicemanager
      command: buildAndPush
      Dockerfile: src/FileServiceManager/Dockerfile
      tags: '$(Build.BuildId)
  
        latest'

azure-pipelines-identitymanager.webapi.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/identitymanager
      command: buildAndPush
      Dockerfile: src/IdentityManager/WebApi/Dockerfile
      buildContext: .
      tags: '$(Build.BuildId)
  
        latest'

azure-pipelines-servicemanager.service.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/servicemanager
      command: buildAndPush
      Dockerfile: src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
      tags: '$(Build.BuildId)
  
        latest'

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/propertymanager
      command: buildAndPush
      Dockerfile: src/PropertyManager/Dockerfile
      buildContext: .
      tags: '$(Build.BuildId)
  
        latest'

z
  src/TourManager/TourManager.Api/Controllers/TourController.cs
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Issue- Auth Implementation - Authentication and role parts added
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
Due: none

Tourmanager/develop migrations (#202)
  src/TourManager/TourManager.Api/Bootstrapper/SqlServerConfiguratio.cs
  src/TourManager/TourManager.Api/Bootstrapper/SwaggerConfiguration.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TourEntity.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210317202739_InitialCreate.Designer.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210317202739_InitialCreate.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/TourDbContextModelSnapshot.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourClientConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourConfiguration.cs
  src/TourManager/TourManager.Service.Abstraction/IBookingService.cs
  src/TourManager/TourManager.Service.Abstraction/IClientService.cs
  src/TourManager/TourManager.Service.Implementation/BookingService.cs
  src/TourManager/TourManager.Service.Implementation/ClientService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
Due: none

z
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Controllers/TravelyControllerBase.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/ClientEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TenantEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TourEntity.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/ClientConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TenantConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Context/TourDbContext.cs
  src/TourManager/TourManager.Service.Abstraction/IClientService.cs
  src/TourManager/TourManager.Service.Abstraction/ITourService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
  src/TourManager/TourManager.Service.Model/Activity.cs
  src/TourManager/TourManager.Service.Model/Booking.cs
  src/TourManager/TourManager.Service.Model/Property.cs
  src/TourManager/TourManager.Service.Model/Tour.cs
Due: none

minor changes
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
  src/TourManager/TourManager.Service.Implementation/ClientService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
Due: none

update migration
  docker-compose.yml
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210324173251_InitialCreate.Designer.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210324173251_InitialCreate.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/TourDbContextModelSnapshot.cs
Due: none

proto minor fixes
  src/SchedulerManager/Travely.SchedulerManager.API/Services/ReminderService.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Implementation/NotificationService.cs
Due: none

Tour and booking filters
  src/TourManager/TourManager.Api/Controllers/BookingController.cs
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/IBookingRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/ITourRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Models/GetBookingFilter.cs
  src/TourManager/TourManager.Repository.Abstraction/Models/GetTourFilter.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BookingRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
  src/TourManager/TourManager.Service.Abstraction/IBookingService.cs
  src/TourManager/TourManager.Service.Abstraction/ITourService.cs
  src/TourManager/TourManager.Service.Implementation/BookingService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
Due: none

Add auth integration
  src/FileServiceManager/FileService/Controllers/FileController.cs
  src/FileServiceManager/FileService/Dockerfile
  src/FileServiceManager/FileService/FileService.csproj
  src/FileServiceManager/FileService/Startup.cs
  src/FileServiceManager/FileService/appsettings.json
Due: azure-pipelines-fileservicemanager.yml

Implemented forgot-reset-confirm password
  src/IdentityManager/Packages.props
  src/IdentityManager/Repository.Abstractions/Entities/User.cs
  src/IdentityManager/Repository.EntityFramework/BaseRepository.cs
  src/IdentityManager/Repository.EntityFramework/IdentityManager.Repository.EntityFramework.csproj
  src/IdentityManager/Repository.EntityFramework/IdentityServerDbContext.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210324120601_UpdateUserTable.Designer.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210324120601_UpdateUserTable.cs
  src/IdentityManager/Service.Abstractions/IAuthenticationService.cs
  src/IdentityManager/Service.Abstractions/IEmailTokenService.cs
  src/IdentityManager/Service.Abstractions/Models/ViewModel/ResetPasswordViewModel.cs
  src/IdentityManager/Service/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/Service/IdentityManager.Service.csproj
  src/IdentityManager/Service/Mappers/PersistGrantProfile.cs
  src/IdentityManager/Service/Protos/email.proto
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/Service/Services/EmailTokenService.cs
Due: azure-pipelines-identitymanager.webapi.yml

Property manager (#205)
  proto/properties.proto
  src/IdentityManager/manifest.yaml
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/Converters/RepeatedFieldToCollectionConverter.cs
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.API/Services/PropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/Configurations/PropertyAttachmentConfiguration.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210321132724_AddedAttachments.Designer.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210321132724_AddedAttachments.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/Property.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/PropertyAttachment.cs
  src/PropertyManager/Travely.PropertyManager.Service/Contracts/IPropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Service/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Commands/AddPropertyCommand.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Commands/PropertyAttachmentModel.cs
  src/PropertyManager/Travely.PropertyManager.Service/Services/PropertyService.cs
  src/TourManager/TourManager.Api/Controllers/PropertiesController.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Models/Requests/AddPropertyRequestModel.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/Utils/FormFileExtensions.cs
  src/TourManager/TourManager.Clients.Abstraction/PropertyManager/IPropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/PropertyClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/AddPropertyRequest.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/FileModel.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyAttachment.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyResponse.cs
  src/TourManager/TourManager.Service.Abstraction/IPropertyService.cs
  src/TourManager/TourManager.Service.Implementation/PropertyService.cs
Due: azure-pipelines-identitymanager.webapi.yml, azure-pipelines.yml

changes in GetTourFilter and GetBookingFilter
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BookingRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
Due: none

Authorize atribut
  src/TourManager/TourManager.Api/Controllers/BookingController.cs
  src/TourManager/TourManager.Api/Controllers/TourController.cs
Due: none

Tourmanager/home screen api endpoints#173 (#209)
  src/TourManager/TourManager.Api/Controllers/BookingController.cs
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/IBookingRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/ITourRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Models/GetBookingFilter.cs
  src/TourManager/TourManager.Repository.Abstraction/Models/GetTourFilter.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BookingRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
  src/TourManager/TourManager.Service.Abstraction/IBookingService.cs
  src/TourManager/TourManager.Service.Abstraction/ITourService.cs
  src/TourManager/TourManager.Service.Implementation/BookingService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
Due: none

Auth_implementation - Identity UserExtension GetTravelyUserInfo() function is called to get identity userinfo
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
  src/TourManager/TourManager.Api/appsettings.json
Due: none

Tourmanager/merge from master (#211)
  proto/properties.proto
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/Converters/RepeatedFieldToCollectionConverter.cs
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.API/Services/PropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/Configurations/PropertyAttachmentConfiguration.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210321132724_AddedAttachments.Designer.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210321132724_AddedAttachments.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/Property.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/PropertyAttachment.cs
  src/PropertyManager/Travely.PropertyManager.Service/Contracts/IPropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Service/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Commands/AddPropertyCommand.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Commands/PropertyAttachmentModel.cs
  src/PropertyManager/Travely.PropertyManager.Service/Services/PropertyService.cs
  src/TourManager/TourManager.Api/Controllers/PropertiesController.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Models/Requests/AddPropertyRequestModel.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/Utils/FormFileExtensions.cs
  src/TourManager/TourManager.Clients.Abstraction/PropertyManager/IPropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/PropertyClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/AddPropertyRequest.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/FileModel.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyAttachment.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyResponse.cs
  src/TourManager/TourManager.Service.Abstraction/IPropertyService.cs
  src/TourManager/TourManager.Service.Implementation/PropertyService.cs
Due: azure-pipelines.yml

Tourmanager/develop (#215)
  docker-compose.yml
  src/TourManager/TourManager.Api/Bootstrapper/SqlServerConfiguratio.cs
  src/TourManager/TourManager.Api/Bootstrapper/SwaggerConfiguration.cs
  src/TourManager/TourManager.Api/Controllers/BookingController.cs
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Controllers/TravelyControllerBase.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/IBookingRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Abstraction/ITourRepository.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/ClientEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TenantEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TourEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Models/GetBookingFilter.cs
  src/TourManager/TourManager.Repository.Abstraction/Models/GetTourFilter.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210324173251_InitialCreate.Designer.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210324173251_InitialCreate.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/TourDbContextModelSnapshot.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/BookingRepository.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Repositories/TourRepository.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/ClientConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TenantConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourClientConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Context/TourDbContext.cs
  src/TourManager/TourManager.Service.Abstraction/IBookingService.cs
  src/TourManager/TourManager.Service.Abstraction/IClientService.cs
  src/TourManager/TourManager.Service.Abstraction/ITourService.cs
  src/TourManager/TourManager.Service.Implementation/BookingService.cs
  src/TourManager/TourManager.Service.Implementation/ClientService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
  src/TourManager/TourManager.Service.Model/Activity.cs
  src/TourManager/TourManager.Service.Model/Booking.cs
  src/TourManager/TourManager.Service.Model/Property.cs
  src/TourManager/TourManager.Service.Model/Tour.cs
Due: none

fixed property manager error handling
  src/PropertyManager/Travely.PropertyManager.API/Helpers/RequestValidatorHelper.cs
  src/PropertyManager/Travely.PropertyManager.API/Interceptors/ErrorHandlingInterceptor.cs
  src/PropertyManager/Travely.PropertyManager.API/Services/PropertyService.cs
  src/PropertyManager/Travely.PropertyManager.API/Startup.cs
  src/PropertyManager/Travely.PropertyManager.API/Travely.PropertyManager.API.csproj
  src/PropertyManager/Travely.PropertyManager.API/Validators/AddPropertyRequestValidator.cs
  src/TourManager/TourManager.Api/Controllers/PropertiesController.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/TourManager.Clients.Implementation.csproj
Due: azure-pipelines.yml

added tenancy support for property manager
  proto/properties.proto
  src/PropertyManager/Travely.PropertyManager.API/Services/PropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210328082432_AddedAgencyIdColumnOnProperty.Designer.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210328082432_AddedAgencyIdColumnOnProperty.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/Property.cs
  src/PropertyManager/Travely.PropertyManager.Service/Contracts/IPropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Service/Services/PropertyService.cs
  src/TourManager/TourManager.Api/Controllers/PropertiesController.cs
  src/TourManager/TourManager.Clients.Abstraction/PropertyManager/IPropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Service.Abstraction/IPropertyService.cs
  src/TourManager/TourManager.Service.Implementation/PropertyService.cs
Due: azure-pipelines.yml

exposed edit property endpoint
  proto/properties.proto
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.API/Services/PropertyService.cs
  src/PropertyManager/Travely.PropertyManager.API/Validators/EditPropertyRequestValidator.cs
  src/PropertyManager/Travely.PropertyManager.Service/Contracts/IPropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Service/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Commands/EditPropertyCommand.cs
  src/PropertyManager/Travely.PropertyManager.Service/Services/PropertyService.cs
  src/TourManager/TourManager.Api/Controllers/PropertiesController.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Models/Requests/AddPropertyRequestModel.cs
  src/TourManager/TourManager.Api/Models/Requests/EditPropertyRequestModel.cs
  src/TourManager/TourManager.Clients.Abstraction/PropertyManager/IPropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/PropertyClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/AddPropertyRequestDto.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/EditPropertyRequestDto.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyAttachmentDto.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyResponseDto.cs
  src/TourManager/TourManager.Service.Abstraction/IPropertyService.cs
  src/TourManager/TourManager.Service.Implementation/PropertyService.cs
Due: azure-pipelines.yml

GetNotifications, DeleteNotifications some minor changes
  src/SchedulerManager/Travely.SchedulerManager.Service/Implementation/NotificationService.cs
Due: none

change agent map and add core for dev env
  src/IdentityManager/Repository.Abstractions/Entities/Agency.cs
  src/IdentityManager/Repository.EntityFramework/IdentityManager.Repository.EntityFramework.csproj
  src/IdentityManager/Repository.EntityFramework/Migrations/20210325194000_AgencyPhoneNmber.Designer.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210325194000_AgencyPhoneNmber.cs
  src/IdentityManager/Service.Abstractions/Models/Request/AgencyRequestModel.cs
  src/IdentityManager/Service.Abstractions/Models/Response/AgencyResponseModel.cs
  src/IdentityManager/Service.Abstractions/Models/Response/UserResponseModel.cs
  src/IdentityManager/Service/Configs/AuthConfigs.cs
  src/IdentityManager/Service/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Controllers/AgencyController.cs
  src/IdentityManager/WebApi/Extensions/AutoMapperConfigurationExtension.cs
  src/IdentityManager/WebApi/Mappers/AgencyProfile.cs
  src/IdentityManager/WebApi/Mappers/EmployeeProfile.cs
  src/IdentityManager/WebApi/Startup.cs
Due: azure-pipelines-identitymanager.webapi.yml

correct field size
  src/IdentityManager/Repository.EntityFramework/Migrations/IdentityServerDbContextModelSnapshot.cs
Due: azure-pipelines-identitymanager.webapi.yml

fix issue with ConfigureServices method
  src/IdentityManager/WebApi/Startup.cs
Due: azure-pipelines-identitymanager.webapi.yml

Update IdentityManager.Repository.EntityFramework.csproj
  src/IdentityManager/Repository.EntityFramework/IdentityManager.Repository.EntityFramework.csproj
Due: azure-pipelines-identitymanager.webapi.yml

remove cancellationToken from FindByIdAsync method
  src/IdentityManager/Repository.EntityFramework/BaseRepository.cs
Due: azure-pipelines-identitymanager.webapi.yml

Added mapping of models in auto mapper, corrected models.
  src/SchedulerManager/Travely.SchedulerManager.API/Program.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/CreateNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/NotificationGeneratedModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/NotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/UpdateNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Notifier/INotifierService.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Service/INotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/Worker.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Hubs/NotificationHub.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Services/NotifierService.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Helpers/MapperProfile.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Implementation/NotificationService.cs
Due: none

Hangfire Authorization
  src/SchedulerManager/Travely.SchedulerManager.Job/ServiceConfigurations/DIExtensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/ServiceConfigurations/HangfireAuthorizationFilter.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/Travely.SchedulerManager.Job.csproj
Due: none

changed property name
  src/TourManager/TourManager.Service.Model/Client.cs
Due: none

include docker compose
  docker-compose.override.yml
  docker-compose.yml
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
  src/ServiceManager/Travely.ServiceManager.Service/appsettings.json
  src/TourManager/TourManager.Api/appsettings.json
Due: azure-pipelines-servicemanager.service.yml

changed property name (#219)
  src/TourManager/TourManager.Service.Model/Client.cs
Due: none

Exposed property editing endpoint, added agency support for properties service, fixed error handling on properties service (#216)
  proto/properties.proto
  src/PropertyManager/Travely.PropertyManager.API/Helpers/RequestValidatorHelper.cs
  src/PropertyManager/Travely.PropertyManager.API/Interceptors/ErrorHandlingInterceptor.cs
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.API/Services/PropertyService.cs
  src/PropertyManager/Travely.PropertyManager.API/Startup.cs
  src/PropertyManager/Travely.PropertyManager.API/Travely.PropertyManager.API.csproj
  src/PropertyManager/Travely.PropertyManager.API/Validators/AddPropertyRequestValidator.cs
  src/PropertyManager/Travely.PropertyManager.API/Validators/EditPropertyRequestValidator.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210328082432_AddedAgencyIdColumnOnProperty.Designer.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210328082432_AddedAgencyIdColumnOnProperty.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/Property.cs
  src/PropertyManager/Travely.PropertyManager.Service/Contracts/IPropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Service/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Commands/EditPropertyCommand.cs
  src/PropertyManager/Travely.PropertyManager.Service/Services/PropertyService.cs
  src/TourManager/TourManager.Api/Controllers/PropertiesController.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Models/Requests/AddPropertyRequestModel.cs
  src/TourManager/TourManager.Api/Models/Requests/EditPropertyRequestModel.cs
  src/TourManager/TourManager.Clients.Abstraction/PropertyManager/IPropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/PropertyClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/TourManager.Clients.Implementation.csproj
  src/TourManager/TourManager.Common/Clients/PropertyManager/AddPropertyRequestDto.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/EditPropertyRequestDto.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyAttachmentDto.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyResponseDto.cs
  src/TourManager/TourManager.Service.Abstraction/IPropertyService.cs
  src/TourManager/TourManager.Service.Implementation/PropertyService.cs
Due: azure-pipelines.yml

Regenerated dockerfile
  src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
Due: azure-pipelines-servicemanager.service.yml

Minor changes
  src/SchedulerManager/Travely.SchedulerManager.Service/Implementation/NotificationService.cs
Due: none

Minor changes
  src/SchedulerManager/Travely.SchedulerManager.Service/Helpers/MapperProfile.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Implementation/NotificationService.cs
Due: none

Path conditions:
  azure-pipelines-fileservicemanager.yml: any of: src/FileServiceManager
  azure-pipelines-identitymanager.webapi.yml: any of: src/IdentityManager
  azure-pipelines-servicemanager.service.yml: any of: src/ServiceManager
  azure-pipelines.yml: any of: src/PropertyManager
