Repository titancamp/travely: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-fileservicemanager.yml, azure-pipelines-identitymanager.webapi.yml, azure-pipelines-servicemanager.service.yml, azure-pipelines.yml

azure-pipelines-fileservicemanager.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/fileservicemanager
      command: buildAndPush
      Dockerfile: src/FileServiceManager/Dockerfile
      tags: '$(Build.BuildId)
  
        latest'

azure-pipelines-identitymanager.webapi.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/identitymanager
      command: buildAndPush
      Dockerfile: src/IdentityManager/WebApi/Dockerfile
      buildContext: .
      tags: '$(Build.BuildId)
  
        latest'

azure-pipelines-servicemanager.service.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/servicemanager
      command: buildAndPush
      Dockerfile: src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
      tags: '$(Build.BuildId)
  
        latest'

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: DockerHub
      repository: titancamp/propertymanager
      command: buildAndPush
      Dockerfile: src/PropertyManager/Dockerfile
      buildContext: .
      tags: '$(Build.BuildId)
  
        latest'

Fixed project, causing build errors inside Docker
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
Due: azure-pipelines-servicemanager.service.yml

Fix of dockerfile v2
  src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
Due: azure-pipelines-servicemanager.service.yml

Dockerfile fix v3, full paths specified
  src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
Due: azure-pipelines-servicemanager.service.yml

Fix v4
  src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
Due: azure-pipelines-servicemanager.service.yml

Regenerated Dockerfile
  src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
Due: azure-pipelines-servicemanager.service.yml

ServiceManager was added to docker-compose
  docker-compose.yml
Due: none

Implemented forgot-reset-confirm password (#210)
  src/IdentityManager/Packages.props
  src/IdentityManager/Repository.Abstractions/Entities/User.cs
  src/IdentityManager/Repository.EntityFramework/BaseRepository.cs
  src/IdentityManager/Repository.EntityFramework/IdentityManager.Repository.EntityFramework.csproj
  src/IdentityManager/Repository.EntityFramework/IdentityServerDbContext.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210324120601_UpdateUserTable.Designer.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210324120601_UpdateUserTable.cs
  src/IdentityManager/Service.Abstractions/IAuthenticationService.cs
  src/IdentityManager/Service.Abstractions/IEmailTokenService.cs
  src/IdentityManager/Service.Abstractions/Models/ViewModel/ResetPasswordViewModel.cs
  src/IdentityManager/Service/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/Service/IdentityManager.Service.csproj
  src/IdentityManager/Service/Mappers/PersistGrantProfile.cs
  src/IdentityManager/Service/Protos/email.proto
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/Service/Services/EmailTokenService.cs
Due: azure-pipelines-identitymanager.webapi.yml

add tests for file service
  src/FileServiceManager/FileService.Tests/Assets/FileSystemConfig.json
  src/FileServiceManager/FileService.Tests/FileService.Tests.csproj
  src/FileServiceManager/FileService.Tests/FileSystemJsonConfiguratorTest.cs
  src/FileServiceManager/FileService.Tests/FileSystemStorageTest.cs
  src/FileServiceManager/FileService.Tests/TestUtils.cs
  src/FileServiceManager/FileService/DAL/FileSystemConfiguration/FileSystemJsonConfiguration/FileSystemJsonConfigurator.cs
  src/FileServiceManager/Models/CompanyMetadata.cs
  src/FileServiceManager/Models/FileMetadata.cs
  src/FileServiceManager/Models/Models.csproj
Due: azure-pipelines-fileservicemanager.yml

removed attachment file handling from property manager, improved tour manager error handling, some improvements and fixes
  proto/properties.proto
  src/Commons/Travely.Services.Common/Extensions/ExceptionHandlingMiddlewareExtensions.cs
  src/Commons/Travely.Services.Common/Middlewares/GRPCExceptionHandlingMiddleware.cs
  src/Commons/Travely.Services.Common/Middlewares/WebApiExceptionHandlingMiddleware.cs
  src/Commons/Travely.Services.Common/Models/ErrorResponse.cs
  src/PropertyManager/Travely.PropertyManager.API/Validators/AddPropertyRequestValidator.cs
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/Configurations/PropertyAttachmentConfiguration.cs
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/Configurations/PropertyConfiguration.cs
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/PropertyDbContext.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210413134759_AddedPropertyAttacmentFileId.Designer.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210413134759_AddedPropertyAttacmentFileId.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/PropertyAttachment.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Commands/PropertyAttachmentModel.cs
  src/TourManager/TourManager.Api/Controllers/BookingController.cs
  src/TourManager/TourManager.Api/Controllers/ClientController.cs
  src/TourManager/TourManager.Api/Controllers/PropertiesController.cs
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Controllers/TravelyControllerBase.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Models/Requests/EditPropertyRequestModel.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/Utils/FormFileExtensions.cs
  src/TourManager/TourManager.Api/Utils/ModelStateDictionaryExtensions.cs
  src/TourManager/TourManager.Clients.Abstraction/PropertyManager/IPropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/PropertyClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/AddPropertyRequestDto.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/EditPropertyRequestDto.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/FileModel.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyAttachmentDto.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyResponseDto.cs
  src/TourManager/TourManager.Service.Abstraction/IPropertyService.cs
  src/TourManager/TourManager.Service.Implementation/PropertyService.cs
  src/TourManager/TourManager.Service.Model/PropertyManager/AddEditPropertyRequestModel.cs
  src/TourManager/TourManager.Service.Model/PropertyManager/PropertyAttachmentModel.cs
  src/TourManager/TourManager.Service.Model/PropertyManager/PropertyResponseModel.cs
Due: azure-pipelines.yml

minor change
  src/Commons/Travely.Services.Common/Middlewares/WebApiExceptionHandlingMiddleware.cs
  src/Commons/Travely.Services.Common/Models/ErrorResponse.cs
  src/TourManager/TourManager.Api/Utils/ModelStateDictionaryExtensions.cs
Due: none

minor change
  src/TourManager/TourManager.Api/Utils/ModelStateDictionaryExtensions.cs
Due: none

fixed file service cors issue
  src/FileServiceManager/FileService/Startup.cs
Due: azure-pipelines-fileservicemanager.yml

fixed issue when editing a property
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
Due: none

refactored property service client, added scheduler manager integration, added client manager to docker-compose
  docker-compose.override.yml
  docker-compose.yml
  proto/reminder.proto
  src/ClientManager/Travely.ClientManager.Service/Properties/launchSettings.json
  src/SchedulerManager/Travely.SchedulerManager.API/Properties/launchSettings.json
  src/SchedulerManager/Travely.SchedulerManager.API/Services/ReminderService.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Travely.SchedulerManager.API.csproj
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Clients.Abstraction/SchedulerManager/IReminderServiceClient.cs
  src/TourManager/TourManager.Clients.Abstraction/Settings/IServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Implementation/GrpcClientBase.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/SchedulerClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/SchedulerManager/ReminderServiceClient.cs
  src/TourManager/TourManager.Clients.Implementation/Settings/ServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Implementation/TourManager.Clients.Implementation.csproj
  src/TourManager/TourManager.Common/Settings/GrpcServiceSettings.cs
  src/TourManager/TourManager.Service.Model/SchedulerManager/Reminders/CreateUpdateReminderRequest.cs
  src/TourManager/TourManager.Service.Model/SchedulerManager/Reminders/ReminderNotification.cs
  src/TourManager/TourManager.Service.Model/TourManager.Service.Model.csproj
Due: none

Update docker file for TourManager
  src/TourManager/TourManager.Api/Dockerfile
Due: none

[ServiceManager] Update Docker Comse
  docker-compose.override.yml
  docker-compose.yml
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
Due: azure-pipelines-servicemanager.service.yml

[SchedulerManager] Update docker-compse
  docker-compose.override.yml
  docker-compose.yml
  src/SchedulerManager/Travely.SchedulerManager.API/Dockerfile
  src/SchedulerManager/Travely.SchedulerManager.API/Properties/launchSettings.json
  src/SchedulerManager/Travely.SchedulerManager.API/Travely.SchedulerManager.API.csproj
Due: none

[PropertyManager] Update docker-compose
  docker-compose.yml
  src/PropertyManager/Travely.PropertyManager.API/Dockerfile
  src/PropertyManager/Travely.PropertyManager.API/Properties/launchSettings.json
Due: azure-pipelines.yml

[FileServiceManager] Update docker-compose
  docker-compose.override.yml
  docker-compose.yml
  src/FileServiceManager/FileService/Dockerfile
  src/FileServiceManager/FileService/FileService.csproj
  src/FileServiceManager/FileService/Properties/launchSettings.json
Due: azure-pipelines-fileservicemanager.yml

[ClientManager] Update docker-compose
  docker-compose.override.yml
  docker-compose.yml
  src/ClientManager/Travely.ClientManager.Service/Dockerfile
  src/ClientManager/Travely.ClientManager.Service/Properties/launchSettings.json
Due: none

Delete redundant dir (#199)
  Travely.ServiceManager.UnitTests/ActivityServiceTests.cs
  Travely.ServiceManager.UnitTests/Mocks.cs
  Travely.ServiceManager.UnitTests/Travely.ServiceManager.UnitTests.csproj
Due: none

Issue- Auth Implementation - Authentication and role parts added (#204)
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
  src/TourManager/TourManager.Api/appsettings.json
Due: none

Service manager/fixes to dockerfile and redundant dir (#223)
  docker-compose.yml
  src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
Due: azure-pipelines-servicemanager.service.yml

Identity manager/agent map fix (#217)
  src/IdentityManager/Repository.Abstractions/Entities/Agency.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210325194000_AgencyPhoneNmber.Designer.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/20210325194000_AgencyPhoneNmber.cs
  src/IdentityManager/Repository.EntityFramework/Migrations/IdentityServerDbContextModelSnapshot.cs
  src/IdentityManager/Service.Abstractions/Models/Request/AgencyRequestModel.cs
  src/IdentityManager/Service.Abstractions/Models/Response/AgencyResponseModel.cs
  src/IdentityManager/Service.Abstractions/Models/Response/UserResponseModel.cs
  src/IdentityManager/Service/Configs/AuthConfigs.cs
  src/IdentityManager/Service/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Controllers/AgencyController.cs
  src/IdentityManager/WebApi/Extensions/AutoMapperConfigurationExtension.cs
  src/IdentityManager/WebApi/Mappers/AgencyProfile.cs
  src/IdentityManager/WebApi/Mappers/EmployeeProfile.cs
  src/IdentityManager/WebApi/Startup.cs
Due: azure-pipelines-identitymanager.webapi.yml

[SchedulerManager] Updae settings
  src/SchedulerManager/Travely.SchedulerManager.API/Program.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
  src/TourManager/TourManager.Api/Startup.cs
Due: none

Config docker compose (#228)
  docker-compose.override.yml
  docker-compose.yml
  src/ClientManager/Travely.ClientManager.Service/Dockerfile
  src/ClientManager/Travely.ClientManager.Service/Properties/launchSettings.json
  src/FileServiceManager/FileService/Dockerfile
  src/FileServiceManager/FileService/FileService.csproj
  src/FileServiceManager/FileService/Properties/launchSettings.json
  src/PropertyManager/Travely.PropertyManager.API/Dockerfile
  src/PropertyManager/Travely.PropertyManager.API/Properties/launchSettings.json
  src/SchedulerManager/Travely.SchedulerManager.API/Dockerfile
  src/SchedulerManager/Travely.SchedulerManager.API/Program.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Properties/launchSettings.json
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
  src/TourManager/TourManager.Api/Dockerfile
  src/TourManager/TourManager.Api/Startup.cs
Due: azure-pipelines-fileservicemanager.yml, azure-pipelines-servicemanager.service.yml, azure-pipelines.yml

Merge branch 'client-manager' into client-master-merge
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
Due: none

Fixed dockerfile for client manager
  src/ClientManager/Travely.ClientManager.Service/Dockerfile
Due: none

Fixed docker-compose dublicate file
  docker-compose.yml
Due: none

Docker compose fix
  docker-compose.yml
Due: none

Fixed Http2 for docker
  Travely.sln
  docker-compose.yml
  src/ClientManager/Travely.ClientManager.Service/Program.cs
  src/FileServiceManager/FileService/Program.cs
  src/PropertyManager/Travely.PropertyManager.API/Program.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Program.cs
  src/ServiceManager/Travely.ServiceManager.Service/Program.cs
  src/TourManager/TourManager.Api/Program.cs
Due: azure-pipelines-fileservicemanager.yml, azure-pipelines-servicemanager.service.yml, azure-pipelines.yml

Setup docker compose build and run for all services
  src/ClientManager/Travely.ClientManager.Repository/Travely.ClientManager.Repository.csproj
  src/ClientManager/Travely.ClientManager.Service/Dockerfile
  src/ClientManager/Travely.ClientManager.Service/Extensions/ServiceCollectionExtensions/ServiceConfigurationExtension.cs
  src/ClientManager/Travely.ClientManager.Service/Startup.cs
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
  src/ClientManager/Travely.ClientManager.Service/appsettings.Development.json
  src/ClientManager/Travely.ClientManager.Service/appsettings.json
  src/Commons/Travely.Common/Extensions/SqlServerConfiguratio.cs
  src/Commons/Travely.Common/Travely.Common.csproj
  src/PropertyManager/Travely.PropertyManager.API/Dockerfile
  src/PropertyManager/Travely.PropertyManager.API/Helpers/ApplicationBuilderExtensions.cs
  src/PropertyManager/Travely.PropertyManager.API/Startup.cs
  src/PropertyManager/Travely.PropertyManager.API/Travely.PropertyManager.API.csproj
  src/PropertyManager/Travely.PropertyManager.Data/Travely.PropertyManager.Data.csproj
  src/SchedulerManager/Travely.SchedulerManager.API/Dockerfile
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Travely.SchedulerManager.API.csproj
  src/SchedulerManager/Travely.SchedulerManager.Repository/Travely.SchedulerManager.Repository.csproj
  src/ServiceManager/Travely.ServiceManager.DAL/Travely.ServiceManager.DAL.csproj
  src/ServiceManager/Travely.ServiceManager.Service/Dockerfile
  src/ServiceManager/Travely.ServiceManager.Service/Startup.cs
  src/ServiceManager/Travely.ServiceManager.Service/Travely.ServiceManager.Service.csproj
  src/ServiceManager/Travely.ServiceManager.Service/appsettings.json
  src/TourManager/TourManager.Api/Bootstrapper/SqlServerConfiguratio.cs
  src/TourManager/TourManager.Api/Dockerfile
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Repository.EfCore.MsSql/TourManager.Repository.EfCore.MsSql.csproj
  src/TourManager/TourManager.Repository.EfCore/TourManager.Repository.EfCore.csproj
Due: azure-pipelines-servicemanager.service.yml, azure-pipelines.yml

Fixed connection string for service manager
  src/TourManager/TourManager.Api/appsettings.json
Due: none

Added Identity in docker compose
  docker-compose.yml
  src/IdentityManager/WebApi/Dockerfile
Due: azure-pipelines-identitymanager.webapi.yml

Fixed identity errors
  src/IdentityManager/Service/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/Service/Services/AuthenticationService.cs
  src/TourManager/TourManager.Api/appsettings.json
Due: azure-pipelines-identitymanager.webapi.yml

Added SQL Connection string
  src/IdentityManager/WebApi/appsettings.json
Due: azure-pipelines-identitymanager.webapi.yml

Added Appy Migration and fixed Dockerfile
  src/IdentityManager/WebApi/Dockerfile
  src/IdentityManager/WebApi/IdentityManager.WebApi.csproj
  src/IdentityManager/WebApi/Startup.cs
Due: azure-pipelines-identitymanager.webapi.yml

Path conditions:
  azure-pipelines-fileservicemanager.yml: any of: src/FileServiceManager
  azure-pipelines-identitymanager.webapi.yml: any of: src/IdentityManager
  azure-pipelines-servicemanager.service.yml: any of: src/ServiceManager
  azure-pipelines.yml: any of: src/PropertyManager
