Repository titancamp/travely: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-fileservicemanager.yml, azure-pipelines-identitymanager.webapi.yml

azure-pipelines-fileservicemanager.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/FileServiceManager

pool:
  vmImage: ubuntu-latest

steps:
- task: Docker@2
  inputs:
    containerRegistry: 'DockerHub'
    repository: 'titancamp/fileservicemanager'
    command: 'buildAndPush'
    Dockerfile: 'src/FileServiceManager/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest

azure-pipelines-identitymanager.webapi.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger:
  branches:
    include:
    - master
  paths:
    include:
    - src/IdentityManager

pool:
  vmImage: ubuntu-latest

steps:
- task: Docker@2
  inputs:
    containerRegistry: 'DockerHub'
    repository: 'titancamp/identitymanager'
    command: 'buildAndPush'
    Dockerfile: 'src/IdentityManager/WebApi/Dockerfile'
    buildContext: '.'
    tags: |
      $(Build.BuildId)
      latest

add EmailValidationTokenService
  src/IdentityManager/DataService/EmailValidationService/EmailValidationTokenService.cs
  src/IdentityManager/DataService/EmailValidationService/IEmailValidationTokenService.cs
  src/IdentityManager/Repository.Abstractions/Entities/UserEmailValidationModel.cs
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/appsettings.Development.json
Due: azure-pipelines-identitymanager.webapi.yml

implemented / always 401
  src/IdentityManager/DataService/Configs/AuthConfigs.cs
  src/IdentityManager/DataService/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/WebApi/Controllers/AccountController.cs
Due: azure-pipelines-identitymanager.webapi.yml

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Adding propertymanager to the CI/CD.
  src/IdentityManager/WebApi/manifest.yaml
  src/PropertyManager/manifest.yaml
Due: azure-pipelines-identitymanager.webapi.yml

Refactoring.
  azure-pipelines-propertymanager.yml
Due: none

Refactoring
  src/PropertyManager/Travely.PropertyManager.API/manifest.yaml
Due: none

Update azure-pipelines-propertymanager.yml for Azure Pipelines
  azure-pipelines-propertymanager.yml
Due: none

Adding service manager to CI/CD.
  src/ServiceManager/Travely.ServiceManager.Service/manifest.yaml
Due: none

Adding servicemanager to CI/CD.
  azure-pipelines-servicemanager.service.yml
Due: none

Update azure-pipelines-servicemanager.service.yml for Azure Pipelines
  azure-pipelines-servicemanager.service.yml
Due: none

Refactoring
  azure-pipelines-travely.client.yml
Due: none

Refactoring.
  azure-pipelines-travely.client.yml
  azure-pipelines.yml
Due: none

Client manager service client (#190)
  Travely.ServiceManager.UnitTests/ActivityServiceTests.cs
  docker-compose.override.yml
  docker-compose.yml
  proto/client.proto
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/Preference.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/Tourist.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144306_addedNotesColumnInTourist.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144306_addedNotesColumnInTourist.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144625_removedPreferencesTouristRelation.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144625_removedPreferencesTouristRelation.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210317125202_addedIsMainColumnInTourist.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210317125202_addedIsMainColumnInTourist.cs
  src/ClientManager/Travely.ClientManager.Service/Dockerfile
  src/ClientManager/Travely.ClientManager.Service/Mappers/ClientProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Properties/launchSettings.json
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
  src/ClientManager/Travely.ClientManager.Service/appsettings.Development.json
  src/TourManager/TourManager.Api/Bootstrapper/TourClientServicesDIConfiguration.cs
  src/TourManager/TourManager.Api/Controllers/ClientController.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Clients.Abstraction/ClientManager/IClientManagerServiceClient.cs
  src/TourManager/TourManager.Clients.Abstraction/Settings/IServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Abstraction/TourManager.Clients.Abstraction.csproj
  src/TourManager/TourManager.Clients.Implementation/ClientManager/ClientManagerServiceClient.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/ClientManagerClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/Mapping.cs
  src/TourManager/TourManager.Clients.Implementation/Settings/ServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Implementation/TourManager.Clients.Implementation.csproj
  src/TourManager/TourManager.Common/Settings/GrpcServiceSettings.cs
  src/TourManager/TourManager.Service.Model/Client.cs
Due: none

Authorize configured
  src/IdentityManager/DataService/Configs/AuthConfigs.cs
  src/IdentityManager/DataService/Extensions/IdentityServiceCollectionExtension.cs
  src/IdentityManager/DataService/IdentityManager.DataService.csproj
  src/IdentityManager/Packages.props
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Properties/launchSettings.json
  src/IdentityManager/WebApi/Startup.cs
  src/IdentityManager/WebApi/appsettings.Development.json
Due: azure-pipelines-identitymanager.webapi.yml

resolved merge conflicts on property manager (#195)
  Travely.sln
  azure-pipelines-fileservicemanager.yml
  azure-pipelines-filesystemmanager.yml
  azure-pipelines-identitymanager.webapi.yml
  azure-pipelines-propertymanager.yml
  azure-pipelines-schedulermanager.api.yml
  azure-pipelines-servicemanager.service.yml
  azure-pipelines-tourmanager.api.yml
  src/FileServiceManager/manifest.yaml
  src/IdentityManager/WebApi/manifest.yaml
  src/IdentityManager/manifest.yaml
  src/PropertyManager/Travely.PropertyManager.API/manifest.yaml
  src/SchedulerManager/Travely.SchedulerManager.API/manifest.yaml
  src/ServiceManager/Travely.ServiceManager.Abstraction/Interfaces/Repositories/IActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.DAL/Repositories/ActivityRepository.cs
  src/ServiceManager/Travely.ServiceManager.Service/Properties/launchSettings.json
  src/ServiceManager/Travely.ServiceManager.Service/manifest.yaml
  src/ServiceManager/Travely.ServiceManager.UnitTests/ActivityManagerTests.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/ActivityServiceTests.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/Mocks.cs
  src/ServiceManager/Travely.ServiceManager.UnitTests/Travely.ServiceManager.UnitTests.csproj
  src/TourManager/TourManager.Api/Controllers/ServiceController.cs
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/Dockerfile
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/TourManager.Api.csproj
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Api/manifest.yaml
Due: azure-pipelines-fileservicemanager.yml, azure-pipelines-identitymanager.webapi.yml

Merge Property manager to Master (#194)
  Travely.ServiceManager.UnitTests/ActivityServiceTests.cs
  Travely.ServiceManager.UnitTests/Mocks.cs
  Travely.ServiceManager.UnitTests/Travely.ServiceManager.UnitTests.csproj
  Travely.sln
  azure-pipelines.yml
Due: none

Reduces the replica set to 1 node.
  src/ServiceManager/Travely.ServiceManager.Service/manifest.yaml
Due: none

fixed Patch Endpoint
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Extensions/ServiceConfigurationExtension.cs
Due: azure-pipelines-identitymanager.webapi.yml

fixes
  src/IdentityManager/WebApi/Controllers/AccountController.cs
Due: azure-pipelines-identitymanager.webapi.yml

restructure: fix line endings
  IdentityManager.sln
  src/IdentityManager/Packages.props
  src/IdentityManager/Service.Abstractions/IAuthenticationService.cs
  src/IdentityManager/Service.Abstractions/Models/Error/ErrorModel.cs
  src/IdentityManager/Service.Abstractions/Models/Error/ValidationErrorModel.cs
  src/IdentityManager/Service.Abstractions/Models/ViewModel/ForgotPasswordViewModel.cs
  src/IdentityManager/Service.Abstractions/Models/ViewModel/ResetPasswordViewModel.cs
  src/IdentityManager/Service.Abstractions/Models/ViewModel/ResultViewModel.cs
Due: azure-pipelines-identitymanager.webapi.yml

Corrected seeding data. Added functionality to update user schedule statuses.
  src/SchedulerManager/Travely.SchedulerManager.API/Program.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/NotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Service/INotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/Enums/NotificationStatus.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Extensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Implementation/DbInitializer.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Interfaces/IDbInitializer.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Implementation/NotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Job/NotificationJob.cs
Due: none

Created notification templates with models.
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/Notifications/BookingCancellationExpirationNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/Notifications/ChangeInTourFieldNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/Notifications/IncompleteBookingRequestsNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/Notifications/TourIsApproachingNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/Notifications/TourStartDateChangeNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Service/INotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/Enums/MessageTemplate.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Infrastructure/Seeding/ScheduleMessageTemplateSeeding.cs
Due: none

marge client manager into master
  Travely.sln
  proto/client.proto
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/Preference.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/Tourist.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144306_addedNotesColumnInTourist.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144306_addedNotesColumnInTourist.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144625_removedPreferencesTouristRelation.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144625_removedPreferencesTouristRelation.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210317125202_addedIsMainColumnInTourist.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210317125202_addedIsMainColumnInTourist.cs
  src/ClientManager/Travely.ClientManager.Service/Dockerfile
  src/ClientManager/Travely.ClientManager.Service/Mappers/ClientProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Properties/launchSettings.json
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
  src/ClientManager/Travely.ClientManager.Service/Startup.cs
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
  src/ClientManager/Travely.ClientManager.Service/appsettings.Development.json
  src/Commons/Travely.Services.Common/CustomExceptions/BadRequestException.cs
  src/Commons/Travely.Services.Common/CustomExceptions/BusinessLayerException.cs
  src/Commons/Travely.Services.Common/CustomExceptions/DataLayerException.cs
  src/Commons/Travely.Services.Common/CustomExceptions/DeleteFailureException.cs
  src/Commons/Travely.Services.Common/CustomExceptions/InvalidArgumentException.cs
  src/Commons/Travely.Services.Common/CustomExceptions/NotFoundException.cs
  src/Commons/Travely.Services.Common/Extensions/ExceptionHandlingMiddlewareExtensions.cs
  src/Commons/Travely.Services.Common/Middlewares/ExceptionHandlingMiddleware.cs
  src/Commons/Travely.Services.Common/Middlewares/GRPCExceptionHandlingMiddleware.cs
  src/Commons/Travely.Services.Common/Travely.Services.Common.csproj
  src/TourManager/TourManager.Api/Bootstrapper/TourClientServicesDIConfiguration.cs
  src/TourManager/TourManager.Api/Controllers/ClientController.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Clients.Abstraction/ClientManager/IClientManagerServiceClient.cs
  src/TourManager/TourManager.Clients.Abstraction/Settings/IServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Abstraction/TourManager.Clients.Abstraction.csproj
  src/TourManager/TourManager.Clients.Implementation/ClientManager/ClientManagerServiceClient.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/ClientManagerClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/Mapping.cs
  src/TourManager/TourManager.Clients.Implementation/Settings/ServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Implementation/TourManager.Clients.Implementation.csproj
  src/TourManager/TourManager.Common/Settings/GrpcServiceSettings.cs
  src/TourManager/TourManager.Service.Model/Client.cs
Due: none

end-to-end test and fixes
  src/TourManager/TourManager.Api/Bootstrapper/SqlServerConfiguratio.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Repository.Abstraction/Entities/BookingEntity.cs
  src/TourManager/TourManager.Repository.Abstraction/Entities/TourEntity.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210317202739_InitialCreate.Designer.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/20210317202739_InitialCreate.cs
  src/TourManager/TourManager.Repository.EfCore.MsSql/Migrations/TourDbContextModelSnapshot.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourClientConfiguration.cs
  src/TourManager/TourManager.Repository.EfCore/Configurations/TourConfiguration.cs
Due: none

added JWT Authentication for Swagger
  src/TourManager/TourManager.Api/Bootstrapper/SwaggerConfiguration.cs
Due: none

Delete redundant dir
  Travely.ServiceManager.UnitTests/ActivityServiceTests.cs
  Travely.ServiceManager.UnitTests/Mocks.cs
  Travely.ServiceManager.UnitTests/Travely.ServiceManager.UnitTests.csproj
Due: none

checkpoint prior license expiration
  src/FileServiceManager/FileService.Tests/Assets/FileSystemConfig.json
  src/FileServiceManager/FileService.Tests/FileSystemJsonConfiguratorTest.cs
  src/FileServiceManager/FileService.Tests/FileSystemStorageTest.cs
  src/FileServiceManager/FileService.Tests/TestUtils.cs
  src/FileServiceManager/FileService/DAL/FileSystemConfiguration/FileSystemJsonConfiguration/FileSystemJsonConfigurator.cs
Due: azure-pipelines-fileservicemanager.yml

email proto for identity service update Dockerfile add logging add Logging Interceptor
  src/SchedulerManager/Travely.SchedulerManager.API/ConfigManager/ConnectionStrings.cs~Stashed changes
  src/SchedulerManager/Travely.SchedulerManager.API/Dockerfile
  src/SchedulerManager/Travely.SchedulerManager.API/Helpers/LoggingInterceptor.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Program.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Protos/email.proto
  src/SchedulerManager/Travely.SchedulerManager.API/Services/EmailService.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Travely.SchedulerManager.API.csproj
  src/SchedulerManager/Travely.SchedulerManager.API/appsettings.json
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Notifier/INotifierService.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/DIExtensions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Services/NotifierService.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Extensions.cs
Due: none

Fixed line endings and namespaces.
  src/IdentityManager/WebApi/Controllers/AccountController.cs
  src/IdentityManager/WebApi/Controllers/AgencyController.cs
  src/IdentityManager/WebApi/Controllers/UsersController.cs
  src/IdentityManager/WebApi/Extensions/AutoMapperConfigurationExtension.cs
  src/IdentityManager/WebApi/Extensions/ServiceConfigurationExtension.cs
  src/IdentityManager/WebApi/Filters/ValidateModelStateActionFilter.cs
  src/IdentityManager/WebApi/HostExtension.cs
  src/IdentityManager/WebApi/IdentityManager.WebApi.csproj
  src/IdentityManager/WebApi/Mappers/EmployeeProfile.cs
  src/IdentityManager/WebApi/Mappers/UserProfile.cs
  src/IdentityManager/WebApi/Program.cs
  src/IdentityManager/WebApi/Startup.cs
Due: azure-pipelines-identitymanager.webapi.yml

marge client manager into master (#198)
  Travely.sln
  proto/client.proto
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/Preference.cs
  src/ClientManager/Travely.ClientManager.Abstraction/Entity/Tourist.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144306_addedNotesColumnInTourist.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144306_addedNotesColumnInTourist.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144625_removedPreferencesTouristRelation.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210314144625_removedPreferencesTouristRelation.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210317125202_addedIsMainColumnInTourist.Designer.cs
  src/ClientManager/Travely.ClientManager.Repository/Migrations/20210317125202_addedIsMainColumnInTourist.cs
  src/ClientManager/Travely.ClientManager.Service/Dockerfile
  src/ClientManager/Travely.ClientManager.Service/Mappers/ClientProfile.cs
  src/ClientManager/Travely.ClientManager.Service/Properties/launchSettings.json
  src/ClientManager/Travely.ClientManager.Service/Services/ClientService.cs
  src/ClientManager/Travely.ClientManager.Service/Startup.cs
  src/ClientManager/Travely.ClientManager.Service/Travely.ClientManager.Service.csproj
  src/ClientManager/Travely.ClientManager.Service/appsettings.Development.json
  src/Commons/Travely.Services.Common/CustomExceptions/BadRequestException.cs
  src/Commons/Travely.Services.Common/CustomExceptions/BusinessLayerException.cs
  src/Commons/Travely.Services.Common/CustomExceptions/DataLayerException.cs
  src/Commons/Travely.Services.Common/CustomExceptions/DeleteFailureException.cs
  src/Commons/Travely.Services.Common/CustomExceptions/InvalidArgumentException.cs
  src/Commons/Travely.Services.Common/CustomExceptions/NotFoundException.cs
  src/Commons/Travely.Services.Common/Extensions/ExceptionHandlingMiddlewareExtensions.cs
  src/Commons/Travely.Services.Common/Middlewares/ExceptionHandlingMiddleware.cs
  src/Commons/Travely.Services.Common/Middlewares/GRPCExceptionHandlingMiddleware.cs
  src/Commons/Travely.Services.Common/Travely.Services.Common.csproj
  src/TourManager/TourManager.Api/Bootstrapper/TourClientServicesDIConfiguration.cs
  src/TourManager/TourManager.Api/Controllers/ClientController.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Clients.Abstraction/ClientManager/IClientManagerServiceClient.cs
  src/TourManager/TourManager.Clients.Abstraction/Settings/IServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Abstraction/TourManager.Clients.Abstraction.csproj
  src/TourManager/TourManager.Clients.Implementation/ClientManager/ClientManagerServiceClient.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/ClientManagerClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/Mapping.cs
  src/TourManager/TourManager.Clients.Implementation/Settings/ServiceSettingsProvider.cs
  src/TourManager/TourManager.Clients.Implementation/TourManager.Clients.Implementation.csproj
  src/TourManager/TourManager.Common/Settings/GrpcServiceSettings.cs
  src/TourManager/TourManager.Service.Model/Client.cs
Due: none

reminder.proto changes
  src/SchedulerManager/Travely.SchedulerManager.API/ConfigManager/ConnectionStrings.cs~Stashed changes
  src/SchedulerManager/Travely.SchedulerManager.API/Protos/reminder.proto
  src/SchedulerManager/Travely.SchedulerManager.API/Services/ReminderService.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/Configurations/EmailOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Common/Configurations/NotifierOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Job/ServiceConfigurations/JobOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Notifier/Helpers/NotifierOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/RepositoryOptions.cs
  src/SchedulerManager/Travely.SchedulerManager.Repository/Travely.SchedulerManager.Repository.csproj
  src/SchedulerManager/Travely.SchedulerManager.Service/Implementation/NotificationService.cs
Due: none

ReminderService implementation
  src/SchedulerManager/Travely.SchedulerManager.API/Services/ReminderService.cs
  src/SchedulerManager/Travely.SchedulerManager.API/Startup.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/Notifications/BookingCancellationExpirationNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Models/Notifications/ChangeInTourFieldNotificationModel.cs
  src/SchedulerManager/Travely.SchedulerManager.Abstraction/Service/INotificationService.cs
  src/SchedulerManager/Travely.SchedulerManager.Service/Implementation/NotificationService.cs
Due: none

Added clientmanager manifest.
  src/ClientManager/Travely.ClientManager.Service/manifest.yaml
  src/IdentityManager/manifest.yaml
Due: azure-pipelines-identitymanager.webapi.yml

Added env vars to microservices for db connections.
  src/FileServiceManager/manifest.yaml
  src/IdentityManager/WebApi/manifest.yaml
  src/PropertyManager/Travely.PropertyManager.API/manifest.yaml
  src/SchedulerManager/Travely.SchedulerManager.API/manifest.yaml
  src/ServiceManager/Travely.ServiceManager.Service/manifest.yaml
  src/TourManager/TourManager.Api/manifest.yaml
Due: azure-pipelines-fileservicemanager.yml, azure-pipelines-identitymanager.webapi.yml

mc
  src/FileServiceManager/FileService.Tests/Assets/FileSystemConfig.json
  src/FileServiceManager/FileService.Tests/FileSystemJsonConfiguratorTest.cs
  src/FileServiceManager/FileService.Tests/FileSystemStorageTest.cs
  src/FileServiceManager/FileService/DAL/FileSystemConfiguration/FileSystemJsonConfiguration/FileSystemJsonConfigurator.cs
Due: azure-pipelines-fileservicemanager.yml

exposed some property manager endpoints from tour manager
  proto/properties.proto
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/Converters/RepeatedFieldToCollectionConverter.cs
  src/PropertyManager/Travely.PropertyManager.API/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.API/Services/PropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Data/EntityFramework/Configurations/PropertyAttachmentConfiguration.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210321132724_AddedAttachments.Designer.cs
  src/PropertyManager/Travely.PropertyManager.Data/Migrations/20210321132724_AddedAttachments.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/Property.cs
  src/PropertyManager/Travely.PropertyManager.Data/Models/PropertyAttachment.cs
  src/PropertyManager/Travely.PropertyManager.Service/Contracts/IPropertyService.cs
  src/PropertyManager/Travely.PropertyManager.Service/MappingProfiles/PropertyMappingProfile.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Commands/AddPropertyCommand.cs
  src/PropertyManager/Travely.PropertyManager.Service/Models/Commands/PropertyAttachmentModel.cs
  src/PropertyManager/Travely.PropertyManager.Service/Services/PropertyService.cs
  src/TourManager/TourManager.Api/Controllers/PropertiesController.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/Models/Requests/AddPropertyRequestModel.cs
  src/TourManager/TourManager.Api/Startup.cs
  src/TourManager/TourManager.Api/Utils/FormFileExtensions.cs
  src/TourManager/TourManager.Clients.Abstraction/PropertyManager/IPropertyManagerClient.cs
  src/TourManager/TourManager.Clients.Implementation/Mappers/PropertyClientProfile.cs
  src/TourManager/TourManager.Clients.Implementation/PropertyManager/PropertyManagerClient.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/AddPropertyRequest.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/FileModel.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyAttachment.cs
  src/TourManager/TourManager.Common/Clients/PropertyManager/PropertyResponse.cs
  src/TourManager/TourManager.Service.Abstraction/IPropertyService.cs
  src/TourManager/TourManager.Service.Implementation/PropertyService.cs
Due: none

CreateTour
  src/TourManager/TourManager.Api/Controllers/TourController.cs
  src/TourManager/TourManager.Api/MappingConfig.cs
  src/TourManager/TourManager.Api/appsettings.json
  src/TourManager/TourManager.Service.Abstraction/IBookingService.cs
  src/TourManager/TourManager.Service.Abstraction/IClientService.cs
  src/TourManager/TourManager.Service.Implementation/BookingService.cs
  src/TourManager/TourManager.Service.Implementation/ClientService.cs
  src/TourManager/TourManager.Service.Implementation/TourService.cs
Due: none
